* {
  background-color: #282c34;
  margin: 0;
  padding: 0;
}

.page {
  height: 100vh;
  background-color: #282c34;
  display: column;
  align-content: flex-start;
}
.container {
  margin-right: 99%;
  margin-top: 15px;
  margin-left: 15px;
  height: 250px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.5);
}
.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  font-weight: bold;
}

.formPlacement{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 50%;
  -ms-flex-align: end;
}

.img-holder {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
  margin-top: 1rem;
}

.img {
  width: 143.8px;
  height: 143.8px;
  object-fit: cover;
}

#input[type="file"] {
  display: none;
}

.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.image-upload {
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
}
