.App {
  text-align: center;
}

.body {
  background-color: #282c34;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);

}

.buttonPlacement {
  margin-top: 450px;
  margin-right: 80px;
  color: white;
  font-weight: bold;
}

.buttonPlacement:hover {
  color: black;
}

.paragraphDecoration{
  color: black;
}
